body{
    background-color: #232529;
}
.block-1{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 640px;
    height: 328px;
    margin: 0 auto;
    margin-top: 240px;
}
.code{
    position: absolute;
    Font-family: Sora;
    Font-style: SemiBold;
    Font-size: 16px;
    Line-height: 20px;
    width: 248px;
    height: 24px;
    margin-left: 205px;
    margin-top: 30px;
}
.ournumber{
    Font-size: 14px;
    Line-height: 18px;
    width: 256px;
    height: 32px;
    color: #A9A9A9;
    margin-left: 183px;
    margin-top: 62px;
    text-align: center;
}
.kvadrat{
    display: flex;
    justify-content: center;
    border-radius: 2px;

}
.kvadrat1{
    display: flex;
    border: 1px solid #808080;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    color: #000000;
    text-align: center;
    font-size:20px;
    background-color: #ffffff;
    padding: 15px;
}

.kvadrat2{
    display: flex;
    border: 1px solid #808080;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    color: #000000;
    text-align: center;
    font-size:20px;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 8px;
}
.kvadrat3{
    display: flex;
    border: 1px solid #808080;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    color: #000000;
    text-align: center;
    font-size:20px;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 8px;
}
.kvadrat4{
    display: flex;
    border: 1px solid #808080;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    color: #000000;
    text-align: center;
    font-size:20px;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 8px;
}
.dalee3{
    position: absolute;
    width: 384px;
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin-left: -301px;
    margin-top: 111px;
}